/* Shared Classes */
.accentBackground
{
    background-color: var(--accentColor);
}
.accentText
{
    color: var(--accentColor);
}

.defBorderAndPadding
{
    border-radius: 16px;
    padding: 16px;
}

.frostedGlass
{
    background-color: #33333333;


    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
/* Shared Classes End */

/* Header */
header
{
    height: fit-content;
    overflow: hidden;
    text-align: center;
}

.headerLogo
{
    display: block;
    float: left;

    border-radius: 64px;

    padding-top: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.headerLogo .logoIcon
{
    height: 30px;
    padding: 2px;
    padding-left: 1px;
    padding-right: 1px;
}

.headerLogo .logoFull
{
    height: 12px;
    padding: 10px;
    padding-left: 2px;
    padding-right: 2px;
}

.headerLogo:active, .headerLogo:hover
{
    background: #eeeeee;
    color: #111111;
}

.headerLogo:active img, .headerLogo:hover img
{
    filter: invert();
}

@media (orientation: portrait)
{
    .headerLogo .logoFull
    {
        display: none;
    }
}

.headerNav
{
    display: inline-flex;
    height: fit-content;

    padding: 2px;
    border-radius: 128px;
    overflow: hidden;
}

.headerNav a
{
    font-size: 0.8rem;
    margin: 2px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;

    border-radius: 128px;
}

.headerNav a:active, .headerNav a:hover
{
    background-color: #eeeeee;
    color: #111111;
}

.activeHeaderNavLink
{
    background-color: var(--accentColor);
}

@media (orientation: portrait)
{
    .headerNav
    {
        margin-left: auto;
        margin-right: auto;
    }
    .headerNav a
    {
        font-size: 0.8rem;
        margin: 1px;
        padding: 8px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (orientation: portrait)
{
    .activeHeaderNavLink
    {
        display: none;
    }
}
/* Header End */

/* main */
main
{
    display: block;
}

.mainSectionHeader
{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.mainSectionHeader h1
{
    flex: 1;

    margin-bottom: 24px;

    font-size: 2.8rem;
}

.mainSectionHeader article
{
    flex: 1;

    color: #aaaaaa;
}

.mainSectionHeader article h2
{
    color: var(--accentColor);
}

.mainSectionHeader article p
{
    margin-top: 24px;
}

@media (orientation: portrait)
{
    .mainSectionHeader
    {
        flex-direction: column;
    }
    .mainSectionHeader h1
    {
        font-size: 2.5rem;
    }
}

.mainLinkWrapper
{
    margin-top: 16px;
    margin-bottom: 16px;

    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    gap: 16px;
}

@media (orientation: portrait)
{
    .mainLinkWrapper
    {
        margin: 0;
        gap: 8px;
    }
}
/* main end */

/* footer */
footer
{
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

.copyrightNotice
{
    margin: 16px;
    margin-top: 32px;
    font-size: 0.8rem;
}

footer .socialLink
{
    padding: 12px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 32px;
    font-weight: normal;
}

footer .socialLink:active, footer .socialLink:hover
{
    background-color: var(--accentColor);
    background-color: #eeeeee;
    color: #111111;
}

@media (orientation: portrait)
{
    footer .socialLink
    {
        display: block;
    }
}
/* footer end */

/* CTA */
.defCTA
{
    font-size: 0.8rem;
    font-family: "Nunito", sans-serif;

    padding: 16px;
    padding-left: 24px;
    padding-right: 24px;

    border-radius: 32px;
}

.defCTA:active, .defCTA:hover
{
    background-color: var(--accentColor);
    background-color: #eeeeee;
    color: #111111;
}

.accentCTA
{
    background-color: var(--accentColor);
}

@media (orientation: portrait)
{
    .mainLinkWrapper .defCTA
    {
        font-size: 0.75rem;
        padding: 12px;
        padding-left: 18px;
        padding-right: 18px;
    }
}
/* CTA End */

/* Card Layout */
.flexCardsWrapper
{
    display: flex;
    gap: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.defFlexCard
{
    flex: 1;
    overflow: hidden;
    /*aspect-ratio: 1/1;*/

    /*backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);*/ /* Safari support */
    /*box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);*/
}

.flexCardIcon
{
    width: 10vh;
    margin-top: 16px;
    margin-bottom: 16px;
}

.defFlexCard h2
{
    font-size: 1.7rem;
}

.defFlexCard h3
{
    font-size: 1.3rem;
}

.defFlexCard p
{
    font-size: 0.85rem;
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 8px;
    color: #aaaaaa;
}

.defFlexCardLinkWrapper
{
    margin-top: 8px;
    font-size: 0.7rem;
    display: inline-flex;
    gap: 8px;
}

.defFlexCard a
{
    color: #eeeeee;
}

.defFlexCard:active, .defFlexCard:hover
{
    color: #111111;
    background-color: #eeeeee;
}

.defFlexCard:active .flexCardIcon, .defFlexCard:hover .flexCardIcon
{
    filter: invert();
}

.defFlexCard:active h2, .defFlexCard:hover h2, .defFlexCard:active h3, .defFlexCard:hover h3
{
    color: var(--accentColor);
}

.defFlexCard:active p, .defFlexCard:hover p
{
    color: #111111;
}

.defFlexCard:active a, .defFlexCard:hover a
{  
    color: var(--accentColor);
}

.defFlexCard a:active, .defFlexCard a:hover
{
    background-color: #eeeeee;
    color: #111111;
}

@media (orientation: portrait)
{
    .flexCardsWrapper
    {
        flex-direction: column;
    }
}