:root
{
	/*--accentColor: #fa0;*/
    --accentColor: #0055bb;
}

/* Default Parameters */

a, a:link, a:visited, a:hover, a:active
{
	text-decoration: none;
}

header, footer, main, div, section, h1, h2, h3, h4, h5, h6, p
{
    margin: 0;
    padding: 0;
}

/* Standard Components*/

body
{
    /*background: no-repeat url("../../assets/media/bg1.png");
	background-size: cover;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);*/
    background: #111111;

	font-family: Arial, Helvetica, sans-serif;
    
    /*font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: unset;
    font-style: normal;*/


	color: #eeeeee;

    margin: 0;

    font-size: 16px;
}

header, footer, main
{
    margin: 0;
    padding: 32px;
}

header
{
    display: block;
    background: #111111;
}

main
{
    display: block;
    text-align: justify;
    padding-top: 80px;
    padding-bottom: 64px;
}

footer
{
    display: block;
    text-align: center;
    font-size: 12px;
    background: #111111;
    color: #eeeeee;
}

/* Shared Classes*/

.lFont
{
    font-size: 64px;
}

.mFont
{
	font-size: 32px;
}

.sFont
{
    font-size: 16px;
}

.defaultCTA {
    font-size: 16px;

    padding: 12px;
    padding-left: 14px;
    padding-right: 14px;

    font-weight: bold;
}

.accentCTA
{
    background: var(--accentColor);
    color: #eeeeee;
}

.stdCTA
{
    background: #eeeeee;
    color: #111111;
}

.stdCTA:active, .stdCTA:hover, .accentCTA:active, .accentCTA:hover
{
    background: var(--accentColor);
	background: #333333;
    color: #eeeeee;
}

.accentText
{
    color: var(--accentColor);
}

.accentBackground
{
    background: var(--accentColor);
}

/* Other Classes*/

.logoMinimal
{
    height: 32px;
}

.logoFull
{
    height: 16px;
    padding: 8px;
    padding-left: 4px;
    padding-right: 4px;
}

.mainLogoMid
{
    height: 25vw;
}

.iconSocial
{
    padding: 8px;
    border-radius: 8px;

    font-size: 16px;

    display: inline-block;
    text-align: center;
    color: #eeeeee;
}

.iconSocial:active, .iconSocial:hover
{
    /*background: #ffffff;
    color: var(--accentColor);*/
    background: #333333;
    color: #ffffff;
}