body
{
    padding: 16px;

    background: #222;
	background: #aa88cc;

	background: linear-gradient(45deg, rgb(101, 199, 252), rgb(197, 88, 251));

    color: #eee;

	font-family: sans-serif;
	font-family: "Nunito", sans-serif;
	font-size: 16px;
}

header, main, footer
{
    border-radius: 16px;
	contain: content;
}

header
{
	margin-bottom: 16px;

	background: rgba(255, 255, 255, 0.1);

	color: #fff;
}

main
{
	padding: 16px;
	padding-top: 48px;
	padding-bottom: 16px;

	margin-bottom: 16px;
	background: rgba(255, 255, 255, 0.8);
	color: #333;
}

footer
{
	padding: 16px;
	background: rgba(255, 255, 255, 0.1);
	font-size: 12px;
	text-align: center;
	color: #eee;
}